.series-select{
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.custom-link{
  display: inline-block;
  margin-left: 2%;
  font-size: 12px;
  text-decoration: underline;
}

/* .dropdown-menu{
  max-height: 300px;
  overflow: scroll;
} */

li[class=dropdown-item]{
  cursor: pointer;
}

li[class=dropdown-item]:hover{
  background-color: #c2c7d0;
}


