<div *ngIf="couponCodeList" class="row flex-row-reverse mt-2 mb-2">
  <div class="col-md-1">
    <button (click)="downloadFile()" class="btn btn-primary">Export</button>
  </div>
</div>
<app-list-input-table
  *ngIf="couponCodeList"
  [Columns]="columns"
  [TableData]="couponCodeList"
  tableName="Location"
  (savedData)="getModifiedCouponCode($event)"
  [$makeTableEditInActive]="$tableEditActive"
  [isDeleteRequired]="true"
  [sortColumnKey]="'id'"
  [allowAddingRow]="true"
  [isDeleteRequired]="false"
  [$updateTable]="$updateTable"
  [addRowsAsEvent]="true"
  (addRowEvent)="addRow()"
></app-list-input-table>
