<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">User Id (separted by comma)</label>
          <input
            formControlName="userId"
            type="text"
            [class.is-invalid]="submitted && f.userId.errors"
            class="form-control"
            placeholder="Enter User Id separated by comma"
          />
          <code *ngIf="submitted && f.userId.errors"
            >Provide UserId separted by comma!!!</code
          >
        </div>
        <div class="form-group">
          <label>Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Required Title"
            formControlName="title"
            [class.is-invalid]="submitted && f.title.errors"
          />
          <code *ngIf="submitted && f.title.errors">Title is required</code>
        </div>

        <div class="form-group">
          <label>Body</label>
          <textarea
            type="text"
            class="form-control"
            placeholder="Required Body"
            formControlName="body"
            [class.is-invalid]="submitted && f.body.errors"
          ></textarea>
          <code *ngIf="submitted && f.body.errors">Body is required</code>
        </div>

        <button type="submit" class="btn btn-block btn-primary">Send</button>
      </div>
    </form>
  </div>
</div>
