<!-- Preloader -->

<div
  *ngIf="showLoader"
  class="preloader flex-column justify-content-center align-items-center"
>
  <img
    class="animation__shake"
    src="./assets/dist/img/AdminLTELogo.png"
    alt="AdminLTELogo"
    height="60"
    width="60"
  />
</div>

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->

  <ul class="navbar-nav nav-pills">
    <!--    <div *ngIf="headerValue | async as breadCrumb">-->
    <!--      <h3>-->
    <!--        {{ breadCrumb.title }}-->
    <!--      </h3>-->
    <!--      <ol class="breadcrumb">-->
    <!--        <li *ngFor="let child of breadCrumb.breadcrumb" class="breadcrumb-item">-->
    <!--          <a *ngIf="child.isActive" [routerLink]="child.link">{{-->
    <!--            child.name-->
    <!--          }}</a>-->
    <!--          <a *ngIf="!child.isActive">{{ child.name }}</a>-->
    <!--        </li>-->
    <!--      </ol>-->
    <!--    </div>-->
  </ul>

  <!-- Right navbar links -->
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img
      src="./assets/dist/img/D.jpg"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light"><b>DTactics IT</b></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="https://avatars.dicebear.com/api/initials/{{ userName }}.svg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a class="d-block">{{ userName | titlecase }}</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/commondisplay"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Common Display
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/events"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Events
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/settings"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Settings
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/location"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Location
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/videolevel"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Video Level
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/couponcode"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Coupon Code
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/banner"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Banner
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/campaign"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Campaign
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/referralevent"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Referral Event
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/customer"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Customer
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLinkActive]="'active'"
            routerLink="admin/salesreferralcode"
            class="nav-link"
          >
            <i class="nav-icon fas fa-th"></i>
            <p>
              Sales Referral Code
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Footer -->
  <div class="menu-footer">Footer</div>
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 202px">
  <section class="content">
    <ng-content></ng-content>
  </section>
</div>

<aside
  class="control-sidebar control-sidebar-dark"
  style="display: none; bottom: 10px; top: 57px; height: 306px"
></aside>
