<form [formGroup]="eventsForm">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Info</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Event Id</label>
                    <input
                      [class.disable-field]="isUpdate"
                      max="30"
                      formControlName="EventId"
                      type="text"
                      class="form-control"
                      placeholder="Enter EventId"
                    />
                    <span
                      class="mandatory"
                      *ngIf="submitted && f.EventId.errors"
                      >EventId is required</span
                    >
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Points</label>
                    <input
                      formControlName="Points"
                      type="number"
                      class="form-control"
                      placeholder="Enter Points"
                    />
                    <span class="mandatory" *ngIf="submitted && f.Points.errors"
                      >Points is required</span
                    >
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label>Top Scorer Count</label>
                    <input
                      type="number"
                      formControlName="TopScorerCount"
                      class="form-control"
                      placeholder="0"
                    />
                    <span
                      class="mandatory"
                      *ngIf="submitted && f.TopScorerCount.errors"
                      >Top Scorer Count is required</span
                    >
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Booster Conversion</label>
                    <input
                      type="number"
                      formControlName="BoosterConversion"
                      class="form-control"
                      placeholder="0"
                    />
                    <span
                      class="mandatory"
                      *ngIf="submitted && f.BoosterConversion.errors"
                      >Field is required</span
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Start Date</label>
                    <input
                      formControlName="AdStartDate"
                      type="datetime-local"
                      class="form-control"
                    />
                  </div>
                  <span
                    class="mandatory"
                    *ngIf="submitted && f.AdStartDate.errors"
                    >AdStartDate is required</span
                  >
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Completion Date</label>
                    <input
                      formControlName="AdCompletionDate"
                      type="datetime-local"
                      class="form-control"
                    />
                  </div>
                  <span
                    class="mandatory"
                    *ngIf="submitted && f.AdCompletionDate.errors"
                    >AdCompletionDate is required</span
                  >
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>End Date</label>
                    <input
                      formControlName="AdEndDate"
                      type="datetime-local"
                      class="form-control"
                    />
                  </div>
                  <span
                    class="mandatory"
                    *ngIf="submitted && f.AdEndDate.errors"
                    >AdEndDate is required</span
                  >
                </div>
              </div>

              <div class="form-group">
                <label>Title</label>
                <input
                  max="256"
                  formControlName="Title"
                  type="text"
                  class="form-control"
                  placeholder="Enter Title"
                />
                <span class="mandatory" *ngIf="submitted && f.Title.errors"
                  >Title is required</span
                >
              </div>

              <div class="form-group">
                <label>Description</label>
                <input
                  max="256"
                  formControlName="Description"
                  type="text"
                  class="form-control"
                  placeholder="Enter Description"
                />
                <span
                  class="mandatory"
                  *ngIf="submitted && f.Description.errors"
                  >Description is required</span
                >
              </div>

              <div class="form-group">
                <label>Winner Notification Title</label>
                <input
                  max="100"
                  formControlName="WinnerNotificationTitle"
                  type="text"
                  class="form-control"
                  placeholder="Enter notification title"
                />
                <span
                  class="mandatory"
                  *ngIf="submitted && f.WinnerNotificationTitle.errors"
                  >Winner Notification Title is required</span
                >
              </div>

              <div class="form-group">
                <label>Winner Notification Message</label>
                <input
                  max="250"
                  formControlName="WinnerNotificationMessage"
                  type="text"
                  class="form-control"
                  placeholder="Enter notification message"
                />
                <span
                  class="mandatory"
                  *ngIf="submitted && f.WinnerNotificationMessage.errors"
                  >Winner Notification Message is required</span
                >
              </div>

              <div class="form-group">
                <label>Terms And Condition</label>
                <textarea
                  formControlName="TermsAndCondition"
                  class="form-control"
                  rows="4.8"
                  placeholder="Enter ..."
                ></textarea>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input
                    formControlName="IsActive"
                    class="form-check-input"
                    type="checkbox"
                  />
                  <label
                    style="margin-bottom: 0; margin-top: 2px"
                    class="form-check-label"
                    >active</label
                  >
                </div>
                <div class="form-check">
                  <input
                    formControlName="IsCompleted"
                    class="form-check-input"
                    type="checkbox"
                  />
                  <label
                    style="margin-bottom: 0; margin-top: 2px"
                    class="form-check-label"
                    >completed</label
                  >
                </div>
                <div class="form-check">
                  <input
                    formControlName="BoosterCalculation"
                    class="form-check-input"
                    type="checkbox"
                  />
                  <label
                    style="margin-bottom: 0; margin-top: 2px"
                    class="form-check-label"
                    >booster calculation</label
                  >
                </div>
                <div class="form-check">
                  <input
                    style="pointer-events: none"
                    formControlName="isPointsConverted"
                    class="form-check-input"
                    type="checkbox"
                  />
                  <label
                    style="margin-bottom: 0; margin-top: 2px"
                    class="form-check-label"
                    >Points Converted</label
                  >
                </div>
                <div class="form-check">
                  <input
                    formControlName="ControlViews"
                    class="form-check-input"
                    type="checkbox"
                  />
                  <label
                    style="margin-bottom: 0; margin-top: 2px"
                    class="form-check-label"
                    >Control Views</label
                  >
                </div>
                <div class="form-check">
                  <input
                    formControlName="IsComingSoon"
                    class="form-check-input"
                    type="checkbox"
                  />
                  <label
                    style="margin-bottom: 0; margin-top: 2px"
                    class="form-check-label"
                    >Coming Soon</label
                  >
                </div>
                <div class="form-check">
                  <input
                    formControlName="AllowShare"
                    class="form-check-input"
                    type="checkbox"
                  />
                  <label
                    style="margin-bottom: 0; margin-top: 2px"
                    class="form-check-label"
                    >Allow Share</label
                  >
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                Files {{ isUpdate ? "[ " + eventsData.file.length + " ]" : "" }}
              </h3>
              <span (click)="addFile($event)" class="btn btn-primary addloc">
                <i class="fas fa-plus"></i>
              </span>
            </div>

            <div class="card-body">
              <ng-container>
                <ng-container
                  *ngFor="let loc of files.controls; let i = index"
                  formArrayName="file"
                >
                  <div class="file-container" [formGroupName]="i">
                    <div *ngIf="isUpdate && loc.value.id" class="float-right">
                      <span class="badge bg-danger">#{{ loc.value.id }}</span>
                    </div>
                    <div class="row" id="{{ i }}">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Title</label>
                          <input
                            max="256"
                            formControlName="Title"
                            type="text"
                            class="form-control"
                            placeholder="Enter Title"
                          />
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Description</label>
                          <input
                            max="256"
                            formControlName="Description"
                            type="text"
                            class="form-control"
                            placeholder="Enter Description"
                          />
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputFile">ThumbNail</label>
                          <div class="input-group">
                            <div class="custom-file">
                              <input
                                type="file"
                                accept="image/png, image/gif, image/jpeg"
                                (change)="fileUpload($event, i, 'ThumbNail')"
                                class="custom-file-input"
                              />
                              <label
                                class="custom-file-label"
                                for="exampleInputFile"
                                >Choose file</label
                              >
                            </div>
                          </div>
                          <table *ngIf="loc.value.ThumbNail" class="table">
                            <tbody>
                              <tr>
                                <td>{{ loc.value.ThumbNailFileName }}</td>

                                <td>
                                  <span
                                    (click)="
                                      downloadAdFile(
                                        loc.value.ThumbNail,
                                        loc.value.ThumbNailFileName
                                      )
                                    "
                                    class="file-action badge bg-success"
                                    ><i class="fas fa-download"></i
                                  ></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <span
                          *ngIf="files.controls[i].invalid"
                          class="mandatory"
                          >Field is Required</span
                        >
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputFile">Video File</label>
                          <div class="input-group">
                            <div class="custom-file">
                              <input
                                type="file"
                                accept="video/mp4"
                                (change)="fileUpload($event, i, 'VideoFile')"
                                class="custom-file-input"
                                id="exampleInputFile"
                              />
                              <label
                                class="custom-file-label"
                                for="exampleInputFile"
                                >Choose file</label
                              >
                            </div>
                          </div>
                          <table *ngIf="loc.value.VideoFile" class="table">
                            <tbody>
                              <tr>
                                <td>{{ loc.value.VideoFileName }}</td>

                                <td>
                                  <span
                                    (click)="
                                      downloadAdFile(
                                        loc.value.VideoFile,
                                        loc.value.VideoFileName
                                      )
                                    "
                                    class="file-action badge bg-success"
                                    ><i class="fas fa-download"></i
                                  ></span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div class="col-sm-5">
                          <div class="form-check">
                            <input
                              formControlName="active"
                              class="form-check-input"
                              type="checkbox"
                            />
                            <label
                              style="margin-bottom: 0; margin-top: 2px"
                              class="form-check-label"
                              >active</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <button
                            style="float: right"
                            (click)="patchAdFile(i)"
                            *ngIf="isUpdate"
                            class="btn btn-primary"
                          >
                            Save
                          </button>

                          <button
                            style="float: right"
                            (click)="deleteAdFile(i)"
                            *ngIf=" !loc.value.id"
                            class="btn btn-danger mr-3"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                    <br />
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title> View Control </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row flex-row-reverse mt-1">
                          <div class="col-md-1">
                            <div>
                              <button
                                (click)="addControl(i)"
                                class="btn btn-warning"
                              >
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <ng-container
                          *ngFor="
                            let row of loc['controls'].videolevel.controls;
                            let idx = index
                          "
                          formArrayName="videolevel"
                        >
                          <div>
                            <div *ngIf="idx == 0" class="row">
                              <div class="col-sm-5">
                                <div style="margin-bottom: 5px">
                                  <span>View Count</span>
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div style="margin-bottom: 5px">
                                  <span>Time Out</span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="row"
                              id="{{ idx }}"
                              [formGroupName]="idx"
                            >
                              <div class="col-sm-5">
                                <div class="form-group">
                                  <!-- <label>ViewCount</label> -->
                                  <input
                                    [class.is-invalid]="
                                      row.controls.ViewCount.errors
                                    "
                                    formControlName="ViewCount"
                                    type="number"
                                    class="form-control"
                                    placeholder="ViewCount"
                                  />
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div class="form-group">
                                  <!-- <label>TimeOut</label> -->
                                  <input
                                    [class.is-invalid]="
                                      row.controls.TimeOut.errors
                                    "
                                    formControlName="TimeOut"
                                    type="number"
                                    class="form-control"
                                    placeholder="TimeOut"
                                  />
                                </div>
                              </div>

                              <div class="col-sm-2">
                                <button
                                  (click)="deleteControl(i, idx)"
                                  class="btn btn-danger"
                                >
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <!-- Video Level Table -->
                  </div>
                  <br />
                </ng-container>
              </ng-container>
            </div>

            <br />
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Thumbnail</h3>
            </div>

            <div class="card-body">
              <div class="form-group">
                <!--                <label for="exampleInputFile">Ad File</label>-->
                <div class="input-group">
                  <div class="custom-file">
                    <input
                      type="file"
                      (change)="uploadThumbnail($event)"
                      class="custom-file-input"
                      id="exampleInputFile"
                    />
                    <label class="custom-file-label" for="exampleInputFile"
                      >Choose file</label
                    >
                  </div>
                  <!-- <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                  </div> -->
                </div>
                <div *ngIf="percentDone" style="margin-top: 10px">
                  Upload Percent: {{ percentDone }}%
                </div>
                <div
                  class="mandatory"
                  *ngIf="percentDone && !uploadSuccess"
                  style="margin-top: 10px"
                >
                  File Upload Failed!!!
                </div>
              </div>

              <table
                *ngIf="thumNailDileData && thumNailDileData.fileURL"
                class="table"
              >
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Files</th>
                    <th></th>
                    <th style="width: 40px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ 1 }}.</td>
                    <td>{{ thumNailDileData.fileName }}</td>
                    <td>
                      <!--                    <div class="progress progress-xs progress-striped active">-->
                      <!--                      <div class="progress-bar bg-success" style="width: 90%"></div>-->
                      <!--                    </div>-->
                    </td>
                    <td style="width: 80px">
                      <span
                        (click)="downLoadFile(thumNailDileData)"
                        class="file-action badge bg-success"
                        ><i class="fas fa-download"></i
                      ></span>
                      <span
                        (click)="deleteThumbnail()"
                        class="file-action badge bg-danger"
                        ><i class="fas fa-trash-alt"></i
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <br />
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Location</h3>
              <span
                (click)="addLocation($event)"
                class="btn btn-primary addloc"
              >
                <i class="fas fa-plus"></i>
              </span>
            </div>

            <div class="card-body">
              <ng-container formArrayName="location">
                <ng-container
                  *ngFor="let loc of location.controls; let i = index"
                >
                  <div class="row" [formGroupName]="i">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>Display For</label>
                        <select
                          formControlName="DisplayFor"
                          class="form-control"
                        >
                          <option value="">Select DisplayFor</option>
                          <option
                            *ngFor="let options of (dropdown | async).key"
                            [value]="options"
                          >
                            {{ options | titlecase }}
                          </option>
                        </select>
                      </div>
                      <span
                        *ngIf="location.controls[i].invalid"
                        class="mandatory"
                        >Field is Required</span
                      >
                    </div>

                    <div class="col-sm-5">
                      <div class="form-group">
                        <label>values</label>
                        <select formControlName="Value" class="form-control">
                          <option value="">
                            Select
                            {{
                              location.at(i).get("DisplayFor").value | titlecase
                            }}
                          </option>
                          <option
                            *ngFor="
                              let option of (dropdown | async)[
                                location.at(i).get('DisplayFor').value
                              ]
                            "
                            [value]="option.id"
                          >
                            {{ option.code }}
                          </option>
                        </select>
                        <!--                        <input formControlName="value" type="text" class="form-control" placeholder="Enter values">-->
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <div (click)="deleteLocation(i)" class="deleteloc">
                          Delete
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <br />
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Time Slot</h3>
              <span (click)="addTimeSlot()" class="btn btn-primary addloc">
                <i class="fas fa-plus"></i>
              </span>
            </div>

            <div class="card-body">
              <ng-container formArrayName="peakhours">
                <ng-container
                  *ngFor="let loc of peakhours.controls; let i = index"
                >
                  <div class="row" [formGroupName]="i">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label>Points</label>
                        <input
                          type="number"
                          formControlName="Points"
                          class="form-control"
                        />
                      </div>
                    </div>

                    <!-- <div class="col-sm-3">
                      <div class="form-group">
                        <label>Date</label>
                        <input
                          type="date"
                          formControlName="Date"
                          class="form-control"
                        />
                      </div>

                    </div> -->

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>Start Date Time</label>
                        <input
                          type="datetime-local"
                          formControlName="StartDateTime"
                          class="form-control"
                        />
                      </div>
                      <span
                        *ngIf="peakhours.controls[i].invalid"
                        class="mandatory"
                        >Field is Required</span
                      >
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>End Date Time</label>
                        <input
                          type="datetime-local"
                          formControlName="EndDateTime"
                          class="form-control"
                        />
                      </div>
                      <!-- <span *ngIf="timeslot.controls[i].invalid" class="mandatory">Field is Required</span> -->
                    </div>

                    <div class="col-sm-1">
                      <div class="form-group">
                        <div
                          (click)="deleteTimeSlot(i)"
                          class="deleteloc timeslot-delete"
                        >
                          Delete
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <br />
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Send Point Feature</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Enable ShareOption At</label>
                    <input
                      formControlName="EnableShareOptionAt"
                      type="datetime-local"
                      class="form-control"
                    />
                    <span
                      class="mandatory"
                      *ngIf="submitted && f.EnableShareOptionAt.errors"
                      >Enable date is required</span
                    >
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Disable ShareOption At</label>
                    <input
                      formControlName="DisableShareOptionAt"
                      type="datetime-local"
                      class="form-control"
                    />
                    <span
                      class="mandatory"
                      *ngIf="submitted && f.DisableShareOptionAt.errors"
                      >Disable date is required</span
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>View Count</label>
                    <input
                      formControlName="ShareOptionWatchCount"
                      type="number"
                      class="form-control"
                    />
                    <span
                      class="mandatory"
                      *ngIf="submitted && f.ShareOptionWatchCount.errors"
                      >Required</span
                    >
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Min Bal</label>
                    <input
                      formControlName="MinimumPointBalance"
                      type="number"
                      class="form-control"
                    />
                    <span
                      class="mandatory"
                      *ngIf="submitted && f.MinimumPointBalance.errors"
                      >Required</span
                    >
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Point limit</label>
                    <input
                      formControlName="SharePointCount"
                      type="number"
                      class="form-control"
                    />
                    <span
                      class="mandatory"
                      *ngIf="submitted && f.SharePointCount.errors"
                      >Required</span
                    >
                  </div>
                </div>
              </div>
            </div>

            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
<div class="card-footer">
  <button style="margin-right: 10px" class="btn" [routerLink]="'/admin/events'">
    Back
  </button>
  <button (click)="onSubmit()" class="btn btn-primary">
    {{ isUpdate ? "Update" : "Submit" }}
  </button>
</div>
