<div [formGroup]="freightRelatedFormGroup" class="booking-col">
  <p class="bt">
    <a

      data-toggle="collapse"
      href="#collapse3"
      role="button"
      aria-expanded="false"
      aria-controls="collapse3"
    >
      <b> FREIGHT RELATED </b>
    </a>
  </p>

  <div class="div-box form-margin comp  collapse" id="collapse3">
    <div class="row">

      <div class="col-sm-3">
        <div class="form-group">
          <label>CARGO TYPE </label>

          <input
            formControlName="CargoType"
            type="text"
            class="form-control"
            placeholder="Cargo Type"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>CARGO NAME</label>

          <input
            formControlName="CargoName"
            type="text"
            class="form-control"
            placeholder="Cargo Name"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>PLACE OF RECEIPT CODE </label>

          <input
            formControlName="PlaceOfReceiptCode"
            type="text"
            class="form-control"
            placeholder="Place Of Receipt Code"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>PLACE OF RECEIPT</label>

          <input
            formControlName="PlaceOfReceipt"
            type="text"
            class="form-control"
            placeholder="Place Of Receipt"
          />
        </div>
      </div>

    </div>
    <div class="row">


      <div class="col-sm-3">
        <div class="form-group">
          <label>PORT OF DISCHARGE CODE</label>

          <input
            formControlName="PortOfDischargeCode"
            type="text"
            class="form-control"
            placeholder="Place Of Receipt"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>PORT OF DISCHARGE</label>

          <input
            formControlName="PortOfDischarge"
            type="text"
            class="form-control"
            placeholder="Port Of Discharge"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label> FINAL PLACE OF DELIVERY CODE</label>

          <input
            formControlName="FinalPlaceOfDeliveryCode"
            type="text"
            class="form-control"
            placeholder="FINAL PLACE OF DELIVERY CODE"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label> FINAL PLACE OF DELIVERY</label>

          <input
            formControlName="FinalPlaceOfDelivery"
            type="text"
            class="form-control"
            placeholder="Final Place Of Delivery"
          />
        </div>
      </div>
    </div>
    <div class="row">


    </div>

    <div class="row">


      <div class="col-sm-3">
        <div class="form-group">
          <label>PORT OF LOADING</label>

          <input
            formControlName="PortOfLoading"
            type="text"
            class="form-control"
            placeholder="Port Of Loading"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>FREIGHT TERMS</label>
          <input
            formControlName="FreightTerms"
            type="text"
            class="form-control"
            placeholder="Port Of Loading"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label> BUY FREIGHT RATE </label>

          <input
            formControlName="BuyFreightRate"
            type="text"
            class="form-control"
            placeholder=" Buy Freight Rate"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label> SELL FREIGHT RATE </label>

          <input
            formControlName="SellFreightRate"
            type="text"
            class="form-control"
            placeholder=" Sell Freight Rate"
          />
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-3">
        <div class="form-group">
          <label> BOOKING STATUS </label>
          <select class="form-control" formControlName="BookingStatus">
            <option value="">Select Booking Status</option>
            <option value="Open">Open</option>
            <option value="Confirmed">Confirmed</option>
            <option value="Pending">Pending</option>
            <option value="Cancelled">Cancelled</option>
            <option value="CONFIRMED WITH MULTI-BL">CONFIRMED WITH MULTI-BL</option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label> ORIGIN INLAND HAULAGE </label>

          <input
            formControlName="OriginInlandHaulage"
            type="text"
            class="form-control"
            placeholder=" Origin Inland Haulage"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>DESTINATION INLAND HAULAGE</label>
          <select class="form-control" formControlName="DestinationInlandHaulage">
            <option value="">Select Booking Status</option>
            <option value="Self">Self</option>
            <option value="Carrer">Carrer</option>
            <option value="Agent">Agent</option>
          </select>

        </div>
      </div>
    </div>
  </div>
</div>
