

<!--  <form class="row" [formGroup]="locationForm">-->

<!--  <div class="col-sm-3">-->
<!--    <div class="form-group">-->
<!--      <label>Pincode</label>-->
<!--      <input (change)="searchPincode()" formControlName="pincode" type="text" class="form-control" placeholder="Enter Pincode" >-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <div class="form-group">-->
<!--      <label>Country</label>-->
<!--      <select (change)="getState($event)" (click)="getState($event)" formControlName="country" class="form-control">-->
<!--        <option value="">Select Country</option>-->
<!--        <option *ngFor="let country of countries"  value="{{country}}"  >{{country | titlecase}}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <div class="form-group">-->
<!--      <label>State</label>-->
<!--      <select (change)="getCity($event)" (click)="getCity($event)"  formControlName="state" class="form-control">-->
<!--        <option value="">Select State</option>-->
<!--        <option value="{{state}}" *ngFor="let state of states ">{{state | titlecase}}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-3">-->
<!--    <div class="form-group">-->
<!--      <label>City</label>-->
<!--      <select formControlName="city" class="form-control">-->
<!--        <option value="">Select City</option>-->
<!--        <option value="{{city}}" *ngFor="let city of cities ">{{city | titlecase}}</option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->

<!--</form>-->

