<!-- <div *ngIf="customerList" class="row flex-row-reverse mt-2 mb-2">
  <div class="col-md-1">
    <button (click)="downloadFile()" class="btn btn-primary">Export</button>
  </div>
</div> -->

<app-list-input-table
  *ngIf="customerList"
  [Columns]="columns"
  [TableData]="customerList"
  tableName="Location"
  [$makeTableEditInActive]="$tableEditActive"
  [isDeleteRequired]="true"
  [sortColumnKey]="'id'"
  [allowAddingRow]="true"
  [isDeleteRequired]="false"
  [$updateTable]="$updateTable"
  [addRowsAsEvent]="true"
  (rowClickEvent)="onRowClicked($event)"
  (addRowEvent)="addRow()"
></app-list-input-table>
