<body class="login-page" style="min-height: 332.781px">
  <div class="login-box">
    <!-- <div class="login-logo">
      <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div> -->

    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">
          You forgot your password? Here you can easily change your password.
        </p>
        <form [formGroup]="resetform" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input
              type="email"
              formControlName="emailId"
              class="form-control"
              placeholder="Email"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              type="text"
              formControlName="secretKey"
              class="form-control"
              placeholder="Secret Key"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-dollar-sign"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">
                Change Password
              </button>
            </div>
          </div>
        </form>
        <p class="mb-1">
          <a routerLink="/">Credintial Available? Login </a>
        </p>
      </div>
    </div>
  </div>
</body>
